<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title></title>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <style>
        body, html {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        .demos-title {
            text-align: center;
            font-size: 34px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }

        .demos-sub-title {
            text-align: center;
            color: #888;
            font-size: 14px;
        }

        .demos-header {
            padding: 35px 0;
        }

        .demos-content-padded {
            padding: 15px;
        }

        .demos-second-title {
            text-align: center;
            font-size: 24px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }

        footer {
            text-align: center;
            font-size: 14px;
            padding: 20px;
        }

        footer a {
            color: #999;
            text-decoration: none;
        }

        .weui-media-box_appmsg .weui-media-box__hd {
            margin-right: 2.8em;
            width: 100px;
        }

        .weui-tab__bd .weui-tab__bd-item {
            height: 93%;
        }

        .weui-grids a{
            padding:40px 10px
        }
        .weui-grids .fa{
            font-size: x-large;
        }
    </style>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx43c8ba348fe9fff8', // 必填，公众号的唯一标识
            timestamp: '${timestamp}', // 必填，生成签名的时间戳
            nonceStr: '${noncestr}', // 必填，生成签名的随机串
            signature: '${signature}',// 必填，签名
            jsApiList: [
                'onMenuShareQQ',
                'onMenuShareQZone',
                'startRecord',
                'stopRecord',
                'translateVoice',
            ] // 必填，需要使用的JS接口列表
        });


        wx.ready(function () {


        });

        $(document).on('click', '#loginBtn', function() {
            $.login({
                title: '登录',
                text: '请输入用户名和密码',
                onOK: function (username, password) {
                    console.log(username, password);
                    $.toast('登录成功!');
                },
                onCancel: function () {
                    $.toast('取消登录!', 'cancel');
                }
            });
        });


        initBuild();
        initEnergy();

        function initBuild() {
            $.ajax({
                url: "/build/list.do",
                dataType: "json",
                success: function (data) {
                    var content = "";
                    $("#buList").empty();
                    $.each(data, function (index, obj) {
                        if (index > 10) {
                            return;
                        }
                        var index = Math.floor(Math.random() * 6);
                        content += "<a href=\"javascript:void(0);\" class=\"weui-media-box weui-media-box_appmsg\">\n" +
                            "                            <div class=\"weui-media-box__hd\">\n" +
                            "                                <img class=\"weui-media-box__thumb\" src=\"/images/" + index + ".jpg\" alt=\"\">\n" +
                            "                            </div>\n" +
                            "                            <div class=\"weui-media-box__bd\">\n" +
                            "                                <h4 class=\"weui-media-box__title\">" + obj.bbiBuName + "</h4>\n" +
                            "                            </div>\n" +
                            "                        </a>";
                        $("#buList").html(content);
                    })
                }
            })
        }

        function initEnergy() {
            $.ajax({
                url: "/energy/list.do",
                dataType: "json",
                success: function (data) {
                    var content = "";
                    $("#energyList").empty();
                    $.each(data, function (index, obj) {
                        if (index > 10) {
                            return;
                        }
                        var index = Math.floor(Math.random() * 6);
                        var energy = "";
                        if (obj.bbiEnergyTag === '01') {
                            energy = "<p class=\"weui-media-box__desc\" style='color:limegreen;'>上季度已采集</p>\n";
                        } else {
                            energy = "<p class=\"weui-media-box__desc\" style='color: red;'>上季度未采集</p>\n";
                        }
                        content += "<a href=\"javascript:void(0);\" class=\"weui-media-box weui-media-box_appmsg\">\n" +
                            "                             <div class=\"weui-media-box__hd\">\n" +
                            "                                 <img class=\"weui-media-box__thumb\" src=\"/images/" + index + ".jpg\" alt=\"\">\n" +
                            "                             </div>\n" +
                            "                             <div class=\"weui-media-box__bd\">\n" +
                            "                                 <h4 class=\"weui-media-box__title\">" + obj.bbiBuName + "</h4>\n" +
                            energy +
                            "                             </div>\n" +
                            "                         </a>";
                        $("#energyList").html(content);
                    })
                }
            })
        }

    </script>
</head>
<body>
<div class="weui-tab">
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="weui-search-bar" id="searchBar">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                               required="">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
                        <i class="weui-icon-search"></i>
                        <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>

            <div class="page__bd">
                <div class="weui-panel weui-panel_access">
                    <!--<div class="weui-panel__hd">图文组合列表</div>-->
                    <div class="weui-panel__bd" id="buList">
                        <!-- <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                             <div class="weui-media-box__hd">
                                 <img class="weui-media-box__thumb" src="/images/2.jpg" alt="">
                             </div>
                             <div class="weui-media-box__bd">
                                 <h4 class="weui-media-box__title">中信证券大厦</h4>
                             </div>
                         </a>-->
                    </div>
                    <!--<div class="weui-panel__ft">
                        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">查看更多</div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>-->
                </div>
                <!-- <div class="weui-footer weui-footer_fixed-bottom">
                     <p class="weui-footer__text">Copyright © 2008-2016 LongWay</p>
                 </div>-->
            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            <div class="weui-search-bar" id="searchBar2">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput2" placeholder="搜索"
                               required="">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear2"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText2">
                        <i class="weui-icon-search"></i>
                        <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel2">取消</a>
            </div>
            <div class="page__bd">
                <div class="weui-panel weui-panel_access">
                    <!--<div class="weui-panel__hd">图文组合列表</div>-->
                    <div class="weui-panel__bd" id="energyList">
                        <!-- <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                             <div class="weui-media-box__hd">
                                 <img class="weui-media-box__thumb" src="/images/2.jpg" alt="">
                             </div>
                             <div class="weui-media-box__bd">
                                 <h4 class="weui-media-box__title">中信证券大厦</h4>
                                 <p class="weui-media-box__desc">由各种</p>
                             </div>
                         </a>-->
                    </div>
                    <!--<div class="weui-panel__ft">
                        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">查看更多</div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
        <div id="tab3" class="weui-tab__bd-item">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">标题</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入标题">
                    </div>
                </div>
                <!--<div class="weui-cell weui-cell_vcode">
                    <div class="weui-cell__hd">
                        <label class="weui-label">手机号</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" placeholder="请输入手机号">
                    </div>
                    <div class="weui-cell__ft">
                        <button class="weui-vcode-btn">获取验证码</button>
                    </div>
                </div>-->
                <!-- <div class="weui-cell">
                     <div class="weui-cell__hd"><label for="" class="weui-label">日期</label></div>
                     <div class="weui-cell__bd">
                         <input class="weui-input" type="date" value="">
                     </div>
                 </div>-->
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="" class="weui-label">日期</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="datetime-local" value="" placeholder="请选择日期">
                    </div>
                </div>
                <!--<div class="weui-cell weui-cell_vcode">
                    <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" placeholder="请输入验证码">
                    </div>
                    <div class="weui-cell__ft">
                        <img class="weui-vcode-img" src="./images/vcode.jpg">
                    </div>
                </div>-->
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">请选择图片</p>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles">
                                    <!--<li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>-->
                                </ul>
                                <div class="weui-uploader__input-box">
                                    <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*"
                                           multiple="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="weui-cells__title">文本域</div>-->
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入日报内容" rows="8"></textarea>
                        <!--<div class="weui-textarea-counter"><span>0</span>/200</div>-->
                    </div>
                </div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">提交</a>
                </div>
            </div>
        </div>
        <div id="tab4" class="weui-tab__bd-item">
            <header class="demos-header" style="background-color: #609eca">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd" style="height: 80px;">
                        <img class="weui-media-box__thumb" src="/images/moren.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title" id="loginBtn">未登录</h4>
                        <!--<p class="weui-media-box__desc">由各种</p>-->
                    </div>
                </a>
            </header>
            <div class="weui-grids">
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-grav" aria-hidden="true" style="color:#169216"></i>
                    </div>
                    <p class="weui-grid__label">
                        上班打卡
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-trophy" aria-hidden="true" style="color: #f3e542;"></i>
                    </div>
                    <p class="weui-grid__label">
                        打卡榜单
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <p class="weui-grid__label">
                        打卡统计
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-cab" aria-hidden="true" style="color: #9494e8;"></i>
                    </div>
                    <p class="weui-grid__label">
                        外勤打卡
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-paper-plane" aria-hidden="true" style="color:#41e441"></i>
                    </div>
                    <p class="weui-grid__label">
                        外勤记录
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-ravelry" aria-hidden="true" style="color: red"></i>
                    </div>
                    <p class="weui-grid__label">
                        审批
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-bullhorn" aria-hidden="true" style="color: #ec639ce6"></i>
                    </div>
                    <p class="weui-grid__label">
                        消息管理
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-vcard" aria-hidden="true" style="color: #8b8bd2"></i>
                    </div>
                    <p class="weui-grid__label">
                        公司加人
                    </p>
                </a>
                <a href="javascript:void(0);" class="weui-grid js_grid">
                    <div class="weui-grid__icon">
                        <i class="fa fa-share-alt" aria-hidden="true" style="color: 40b2f5"></i>
                    </div>
                    <p class="weui-grid__label">
                        分享
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="weui-tabbar">
        <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
            <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
            <div class="weui-tabbar__icon">
                <i class="fa fa-building" style="color: #ae83ca" aria-hidden="true"></i>
            </div>
            <p class="weui-tabbar__label">信息管理</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-free-code-camp" style="color: #e22842" aria-hidden="true"></i>
            </div>
            <p class="weui-tabbar__label">能耗采集</p>
        </a>
        <a href="#tab3" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-file-text" style="color:#86a0dc" aria-hidden="true"></i>
            </div>
            <p class="weui-tabbar__label">日报提交</p>
        </a>
        <a href="#tab4" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <i class="fa fa-user-circle" style="color:#8d8e4a;" aria-hidden="true"></i>
            </div>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
</div>
</body>


</html>