<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一刻钟生活圈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>-->
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-weui.min.js"></script>


    <style>
        .demos-header {
            padding: 35px 0;
        }

        .demos-title {
            text-align: center;
            font-size: 25px;
            color: #fff;
            font-weight: 400;
            margin: 0 15%;
        }
        .demos-header {
            padding: 15px 0;
            background-color: #46A532;
        }
    </style>
</head>
<body>
<header class="demos-header">
    <h1 class="demos-title">便利生活一点通</h1>
</header>
<div class="weui-tab">
    <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
            全部
        </a>
        <a class="weui-navbar__item" href="#tab2">
            餐饮
        </a>
        <a class="weui-navbar__item" href="#tab3">
            物业
        </a>
        <a class="weui-navbar__item" href="#tab4">
            休闲
        </a>
        <a class="weui-navbar__item" href="#tab5">
            生活
        </a>
        <a class="weui-navbar__item" href="#tab6">
            医疗
        </a>
        <a class="weui-navbar__item" href="#tab7">
            金融
        </a>
        <a class="weui-navbar__item" href="#tab8">
            教育
        </a>
        <a class="weui-navbar__item" href="#tab9">
            政务
        </a>
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        </div>
        <div id="tab2" class="weui-tab__bd-item">
        </div>
        <div id="tab3" class="weui-tab__bd-item">
        </div>
        <div id="tab4" class="weui-tab__bd-item">
        </div>
        <div id="tab5" class="weui-tab__bd-item">
        </div>
        <div id="tab6" class="weui-tab__bd-item">
        </div>
        <div id="tab7" class="weui-tab__bd-item">
        </div>
        <div id="tab8" class="weui-tab__bd-item">
        </div>
        <div id="tab9" class="weui-tab__bd-item">
        </div>
    </div>
</div>

</body>
</html>