<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>志愿者服务条约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <style>
        .weui-agree__text {
            color: #2A84E4;
        }
    </style>
</head>
<body>
<div>
    <h1>社区志愿者服务公约</h1>

    第一章总则

    第一条为倡导“奉献、友爱、互助、进步”的志愿者精神,规范和促进社区志愿服务活动,为推动社区精神文明和和谐社区建设,健全和完善社区保障体系,特制定本制度。

    第二条志愿服务是指在办事处党工委、办事处、社区党支部的倡导和扶持下,从社区成员多种需求出发,组建以社区居民为主体的组织网络,开展各种无偿公益服务,协助解决社区问题,倡导社区居民互助,共同推动社区建设的公益服务活动。

    社区志愿服务的主体是社区志愿者组织。

    第三条社区志愿者是在本社区志愿者组织登记并获得其同意,自愿为他人和社会提供无偿服务的人员。

    第二章机构和职责

    第四条志愿服务组织机构由社区志愿者服务领导小组和社区志愿者服务队组成。

    第五条志愿者组织机构的职责:在上级党组织和共青团的领导下,招募、培训、管理志愿者,确立服务项目,落实服务活动,为社会公益工作和社会保障工作等提供服务。

    第六条一个规范化的社区志愿服务队必须具备“八个

    有”:有统一的标识〈统一悬挂“华侨社区志愿服务队”臂章〉;有必要办公场地和办公设备;有一支相对稳定的志愿者队伍;有志愿者和服务对象的档案;有相对固定的服务项目;有一个相当稳定的服务基地;有完整的活动计划;有规范的规章管理制度。

    第三章志愿者的注册与管理、权利与义务

    第七条志愿者的管理推行注册志愿者制度。志愿者组织长期接纳志愿者的报名申请。

    第八条注册志愿者的基本条件:凡18周岁以上的个人,志愿从事志愿服务工作并具有相应的服务技能,承认志愿者协会章程,履行入会登记手续,接受入会辅导,均可到社区志愿者组织申请。

    第九条注册志愿者的申请程序:凭本人有效证件到社区志愿者组织填写注册登记表,社区志愿者组织按照志愿者的基本条件对申请人情况进行审核,对审核合格的志愿者建立志愿者档案。

    第十条志愿者和志愿者组织享有以下权利:

    (一)志愿者接受志愿者组织的培训。培训分为:志愿者基本知识培训、服务技能培训;

    (二)志愿者在志愿服务活动中遇到困难和问题,可以请

    求志愿者组织的帮助解决;

    (三)志愿者组织根据志愿者所从事志愿活动的需要,可

    要求相关部门为参加志愿服务的志愿者提供相应的人身保险;

    (四)志愿者享有监督、建议、批评、出入组织自由的权利。

    第十一条志愿者和志愿者组织应当履行以下义务:

    (一)在法律法规规定的范围内开展志愿服务;

    (二)遵守志愿者协会的章程;

    (三)完成志愿者组织安排的服务工作等;

    (四)维护志愿者和志愿者组织的声誉和形象,保证服务质量

    (五)开展志愿服务时应当佩戴统一的标志。

    第四章服务范围和重点对象

    第十二条社区志愿服务范围包括社区服务、环境保护、

    社区文化、社区教育、社区帮困、社区治安以及大型社会活动

    的服务工作等公益事业。这些服务以志愿者及其组织的行为能

    力为限。

    第十三条社区志愿服务的重点对象是残疾人、老年人、

    优抚对象和其他具有特殊困难需要救助的社会成员。志愿者组织根据服务对象的申请或者实际需要,提供力所能及的志愿服务。志愿者、志愿者组织与服务对象之间是自愿、平等的服务与被服务关系,应当互相尊重、平等相待。

    第五章保障与奖励

    第十四条社区要确保有专门的志愿服务工作场所、配备必要的办公设施。

    第十五条社区志愿服务活动的经费可接受社会捐赠和资助。任何单位和个人不得侵占、私分或挪用。经费的筹集、使用和管理依法接受人民政府有关部门的监督。

    第十六条社区党支部书记分管志愿者服务工作。

    第十七条要加强自身建设,积极参与社区志愿服务工作,在社区志愿服务中发挥主体作用。

    第十八条社区党员志愿者组织、妇女志愿者组织、社区老年人协会、关心下一代协会、老年科协等统一纳入社区志愿者服务管理体系,接受社区志愿者组织的协调管理。

    第十九条建立志愿服务时间累计和绩效评价制度。志愿服务的时间累计数和绩效评价结果作为考核、表彰志愿者的重要依据。注册志愿者每年至少要参加5小时的志愿服务。

</div>
<!--<div class="weui-cell weui-cell_switch">
    <div class="weui-cell__ft">
        <input class="weui-switch" type="checkbox">
    </div>
    <div style="margin-left: 10px;" class="weui-cell__bd">我已阅读并同意以上条约</div>
</div>-->
@if(user.userVolunteer! == '02'){
<label for="agree" class="weui-agree">
    <input id="agree" type="checkbox" name="agree" class="weui-agree__checkbox">
    <span class="weui-agree__text">
        我已阅读并同意以上条约</a>
      </span>
</label>
@}

<div class="weui-btn-area">
    @if(user.userVolunteer! == '01'){
    <a onclick="up('02')" style="background-color: grey;" class="weui-btn weui-btn_primary" href="javascript:void(0)">撤销志愿者申请</a>
    @}else {
    <a onclick="up('01')" class="weui-btn weui-btn_primary" href="javascript:void(0)">成为志愿者</a>
    @}
</div>

<script>
    function up(state) {
        @if(user.userVolunteer! == '02'){
            if (!$('#agree').is(':checked')) {
                $.alert("请同意条约");
                return;
            }
        @}
        @if(session.login_user == null){
            $.toast("请先登录！", "forbidden");
            return;
        @}
        $.ajax({
            url: "/third/pact.do",
            data:{state:state},
            dataType: "json",
            type: "post",
            success: function (data) {
                if (data.flag) {
                    $.toast(data.msg);
                    window.location.href = '/third/volunteer.do';
                } else {
                    $.toast(data.msg, "forbidden");
                }
            }
        })
    }
</script>

</body>
</html>